.article-list{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 4vw;
    max-width: 670px
}

.article-list__item{
    background-color: var(--color-neutral-100);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}