.footer {
  padding: 0 $space-md;

  &__slogan {
    grid-area: slogan;
    font-style: italic;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -$space-sm;
      width: 100%;
      height: 2px;
      background: var(--neutral-900);
      opacity: 0.5;
    }
  }

  &__socials,
  &__links {
    display: grid;
    gap: 0 $space-md;
  }

  &__copyright {
    grid-area: copyright;
    justify-self: center;
  }
}
