.article-container {
  display: flex;
  flex-direction: column;
}

.article-list__wrapper {
  /* place-content: center; */
  flex-grow: 0;
}

.article-list {
  display: flex;
  flex-wrap: wrap;

  gap: 0.5rem;
}

.article-list > * {
  flex-grow: 1;
  aspect-ratio: 6/5;
}

.section-heading {
  display: flex;
  flex-direction: column;
}

.section-heading__title {
  margin-top: 0;
  flex-shrink: 0.5;
}

@media (min-width: 64em) {
  .article-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    gap: 1rem;
  }

  .article-list {
    margin-top: 0px;
    margin-left: 0px;
  }

  .article-list > * {
    flex-basis: 33%;
  }
}
