.article-container {
    display: flex;
    flex-direction: column;
}

.section-heading__title {
    margin-top: 1.5rem;
}

@media (min-width: 64em) {
    .article-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .article-list {
        margin-top: 0px;
        margin-left: 0px;
    }
}