// Spacing
$space-xs: 0.25rem;
$space-sm: 0.5rem;
$space-md: 1rem;
$space-lg: 2rem;

// Radius
$radius-sm: 0.25rem;
$radius-md: 0.5rem;

// Z-index
$z-modal: 10000;

// Breakpoints
$bp-md: 40em;
$bp-lg: 64em;
