@import "./colours.css";
@import "./utilities/normalize.css";
@import "./utilities/icons.css";

@font-face {
  font-family: PlayfairDisplay;
  src: url(../fonts/PlayfairDisplay/PlayfairDisplay-variable.ttf);
}

* {
  font-family: PlayfairDisplay;
}

body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";

  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;

  min-height: 100vh;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
